<%= form_for(@post) do |f| %>

Author: <%= f.collection_select :blogger_id, Blogger.all, :id, :name%>
Destination: <%= f.collection_select :destination_id, Destination.all, :id, :name%>
<label>Title:</label><br>
  <%= f.text_field :title %><br>
  <label>Content:</label><br>
  <%= f.text_area :title %><br>
  <%= f.submit %>
<% end %>